<app-admin *ngIf="type=='1'"></app-admin>
<app-ventas *ngIf="type=='2'"></app-ventas>
<app-inventario *ngIf="type=='3'"></app-inventario>\
<div class="container">
<div class="mi-card">
    <hr>
    <h4 style="text-align: center;">Proveedores</h4>
    <hr>
</div>
<button (click)="openDialog()" class="btn btn-primary"><mat-icon>group_add</mat-icon> Crear Proveedor</button>
<hr>
<table class="table">
    <thead class="table-primary">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Telefono</th>
            <th scope="col">Direccion</th>
            <th scope="col">Opcion</th>
        </tr>
    </thead>
    <tbody>
        <tr [ngClass]="{'table-ligth':i%2==0,'table-info':i%2==1}" *ngFor="let item of proveedor;let i=index">
            <td>{{i+1}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.telefono}}</td>
            <td>{{item.direccion}}</td>
            <td>
                <button class="btn btn-success btn-sm" (click)="actualizar(item)"><mat-icon> border_color</mat-icon></button>
                <button class="btn btn-danger btn-sm" (click)="eliminar(item)"><mat-icon>delete_forever</mat-icon></button>
            </td>
        </tr>
    </tbody>
</table>
</div>