.mi-card {
    background-color: lightblue;
    /* Cambiar el color de fondo del card */
    border-radius: 10px;
    /* Agregar bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Agregar sombra */
}

.col-custom {
    text-align: center;
    /* Centra el texto */
    background-color: lightblue;
    /* Cambiar el color de fondo del card */
    padding: 20px;
    /* Agrega un poco de espacio alrededor del contenido */
    border: 1px solid #ffffff;
    /* Agrega un borde alrededor de la columna */
    border-radius: 10px;
    /* Redondea las esquinas del borde */
    margin-bottom: 20px;
    /* Espacio inferior entre las columnas */
}

.image {
    width: 100%;
    height: 200px;
    /* Altura fija para el contenedor de la imagen */
    overflow: hidden;
    /* Oculta cualquier desbordamiento */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* Espacio superior entre el texto y la imagen */
    border-radius: 10px;
    /* Redondea las esquinas del borde */
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Asegura que la imagen cubra todo el contenedor */
    object-position: center;
    /* Centra la imagen dentro del contenedor */
}

.button {
    text-align: center;
    /* Centra el texto */
    background-color: none;
    /* Cambiar el color de fondo del card */
    padding: 20px;
    /* Agrega un poco de espacio alrededor del contenido */
    border: none;
    /* Agrega un borde alrededor de la columna */
    border-radius: 10px;
    /* Redondea las esquinas del borde */
    margin-bottom: 20px;
    /* Espacio inferior entre las columnas */
}

.example-button-row {
    display: table-cell;
    max-width: 600px;
}