<h2 mat-dialog-title>{{texto}}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="agregar">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="" formControlName="nombre">
      <mat-error>{{ getErrorMessage('nombre') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Codigo</mat-label>
      <input matInput placeholder="0000000000" formControlName="codigo">
      <mat-error>{{ getErrorMessage('codigo') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descripción</mat-label>
      <input matInput placeholder="Capsula de aspyrina marca tantos" formControlName="descripcion">
      <mat-error>{{ getErrorMessage('descripcion') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Unidad</mat-label>
      <input matInput placeholder="gr" formControlName="unidad">
      <mat-error>{{ getErrorMessage('unidad') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Peso</mat-label>
      <input matInput placeholder="00.00" formControlName="peso">
      <mat-error>{{ getErrorMessage('peso') }}</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Categoria</mat-label>
      <input formControlName="categoria_id" placeholder="Categoria" matInput [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of categoria; track option) {
        <mat-option [value]="option.nombre">{{option.nombre}}</mat-option>
        }
      </mat-autocomplete>
      <mat-error>{{ getErrorMessage('categoria_id') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Precio de Compra</mat-label>
      <input matInput placeholder="0.00" formControlName="precio_compra">
      <mat-error>{{ getErrorMessage('precio_compra') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Precio de Venta</mat-label>
      <input matInput placeholder="0.00" formControlName="precio_venta">
      <mat-error>{{ getErrorMessage('precio_venta') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Stock actual</mat-label>
      <input matInput placeholder="0" formControlName="stock">
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Imagen</mat-label>
      <input matInput value="{{name}}">
      <input type="file" id="fileInput" name="fileInput" accept="image/*" (change)="cargarimagen($event)"
        formControlName="imagen" />
      <mat-icon matSuffix>image</mat-icon>
    </mat-form-field>

    <div class="text-center">
      <img appImagenRota src={{previsualizacion}} alt="" height="100px" width="100px">
    </div>



  </form>

  <mat-dialog-content class="mat-typography">
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-dialog-close class="btn btn-secundary">Cancelar</button>
    <button [mat-dialog-close]="agregar" class="btn btn-primary" [disabled]="agregar.invalid">Guardar</button>
  </mat-dialog-actions>