<div class="">

  <h2 mat-dialog-title>{{texto}}</h2>
  <form [formGroup]="agregar">

    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="" formControlName="nombre">
      <mat-error>{{ getErrorMessage('nombre') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Apellido</mat-label>
      <input matInput placeholder="" formControlName="apellido">
      <mat-error>{{ getErrorMessage('apellido') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="" type="password" formControlName="password">
      <mat-error>{{ getErrorMessage('password') }}</mat-error>
    </mat-form-field>


    <!-- <mat-form-field appearance="fill">
    <mat-label>Fecha de Inicio</mat-label>
    <input matInput formControlName="fecha_inicio" placeholder="1999-12-31" [matDatepicker]="releasedAtPicker">
    <mat-hint>DD/MM/AAAA</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="releasedAtPicker">
    </mat-datepicker-toggle>
    <mat-datepicker #releasedAtPicker [disabled]="false">
    </mat-datepicker>
    <mat-error *ngIf="fecha_inicio?.invalid">{{error_fecha_inicio()}}</mat-error>
  </mat-form-field> -->

    <mat-form-field appearance="fill">
      <mat-label>Fecha de Inicio</mat-label>
      <input matInput formControlName="fecha_inicio" placeholder="1999-12-31" [matDatepicker]="releasedAtPicker">
      <mat-hint>DD/MM/AAAA</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="releasedAtPicker"></mat-datepicker-toggle>
      <mat-datepicker #releasedAtPicker [disabled]="false"></mat-datepicker>

      <mat-error>{{ getErrorMessage('fecha_inicio') }}</mat-error>
    </mat-form-field>


    <br>

    <mat-form-field appearance="fill">
      <mat-label>Tipo</mat-label>
      <input formControlName="tipo" placeholder="tipo" matInput [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of options; track option) {
        <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
      <mat-error>{{ getErrorMessage('tipo') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>CI</mat-label>
      <input matInput placeholder="" formControlName="ci">
      <mat-error>{{ getErrorMessage('ci') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Correo</mat-label>
      <input matInput placeholder="" formControlName="correo">
      <mat-error>{{ getErrorMessage('correo') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Telefono</mat-label>
      <input matInput placeholder="" formControlName="telefono">
      <mat-error>{{ getErrorMessage('telefono') }}</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Direccion</mat-label>
      <input matInput placeholder="" formControlName="direccion">
      <mat-error>{{ getErrorMessage('direccion') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Salario</mat-label>
      <input matInput placeholder="" formControlName="salario">
      <mat-error>{{ getErrorMessage('salario') }}</mat-error>
    </mat-form-field>

    <!-- <mat-form-field appearance="fill">
    <mat-label>imagen</mat-label>
    <input matInput placeholder="" formControlName="imagen">
    <mat-error *ngIf="imagen?.invalid">{{error_imagen()}}</mat-error>
  </mat-form-field> -->

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Imagen</mat-label>
      <input matInput value="{{name}}">
      <input type="file" id="fileInput" name="fileInput" accept="image/*" (change)="cargarimagen($event)"
        formControlName="imagen" />
      <mat-icon matSuffix>image</mat-icon>
    </mat-form-field>

    <div class="text-center">
      <img appImagenRota src={{previsualizacion}} alt="" height="100px" width="100px">
    </div>

  </form>

  <mat-dialog-content class="mat-typography">
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-dialog-close class="btn btn-secundary">Cancelar</button>
    <button [mat-dialog-close]="agregar" class="btn btn-primary" [disabled]="agregar.invalid">Guardar</button>
  </mat-dialog-actions>

</div>