
.container {
  width: 100%; /* Ancho completo del contenedor padre */
  max-width: 1500px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.row {
  display: flex;
  flex-wrap: wrap; /* Permite que las columnas se envuelvan en varias líneas si es necesario */
  gap: 5px; /* Espacio entre columnas */
  justify-content: center;
  align-items: center;
}

  .col-custom {
    text-align: center; /* Centra el texto */
    padding: 0px; /* Agrega un poco de espacio alrededor del contenido */
    border-radius: 5px; /* Redondea las esquinas del borde */
  width: 30%; /* Ancho del contenedor */
  height: 20%;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px; /* Espacio superior entre el texto y la imagen */
    
  }

  .image {
    
    width: 100%;
    height: 200px; /* Altura fija para el contenedor de la imagen */
    overflow: hidden; /* Oculta cualquier desbordamiento */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Espacio superior entre el texto y la imagen */
    border-radius: 10px; /* Redondea las esquinas del borde */
  }

  .image img {
    width: 90%;
    height: 90%;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
    object-position: center; /* Centra la imagen dentro del contenedor */
  }

