<app-admin *ngIf="type=='1'"></app-admin>
<app-ventas *ngIf="type=='2'"></app-ventas>
<app-inventario *ngIf="type=='3'"></app-inventario>
<div class="container">
<div class="mi-card">
<hr>
<h4 style="text-align: center;">Ventas</h4>
<hr>
</div>
<button (click)="nueva_factura()" class="btn btn-primary"><mat-icon>add</mat-icon> Crear una Venta </button>
<hr>
<table class="table table-sm table-bordered table-responsive-sm">
    <thead class="table-primary">
        <tr>
            <th scope="col">#</th>
            <th scope="col">id</th>
            <th scope="col">Fecha</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Descuento</th>
            <th scope="col">Total</th>
            <th scope="col">personal</th>
            <th scope="col">Cliente</th>
            <th scope="col">CI</th>
            <th scope="col">Detallar</th>
        </tr>
    </thead>
    <tbody>
        <tr [ngClass]="{'table-ligth':i%2==0,'table-info':i%2==1}"  *ngFor="let item of factura;let i=index">
            <td>{{i+1}}</td>
            <td>{{item.idfactura}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item.subtotal}}</td>
            <td>{{item.descuento}}</td>
            <td>{{item.total}}</td>
            <td>{{item.nombreusuario}}</td>
            <td>{{item.nombrecliente}} {{item.apellidocliente}}</td>
            <td>{{item.cicliente}}</td>
            <td>
                <button class="btn btn-primary btn-sm" (click)="detallarventa(item)"><mat-icon>visibility</mat-icon></button>
            </td>
        </tr>
    </tbody>
</table>
</div>
