<div *ngIf="data.texto=='REPORTE DE PRODUCTOS CON FECHA DE VENCIMIENTO PROXIMA'">

    <div class="titulo">
        <h4 style="text-align: center;">{{data.texto}}</h4>
    </div>

    <div class="botoncrear">
        <button (click)="generarPDFgeneral()">
            <mat-icon>add</mat-icon> Generar Reporte
        </button>
    </div>

    <div class="table-container">
        <table class="table centered table-borderless">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Unidad</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Precio de compra</th>
                    <th scope="col">Precio de venta</th>
                    <th scope="col">Fecha de Expiración</th>
                    <th scope="col">Stock por caducar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of productos_entre_fechas; let i = index">
                    <td>{{item.codigo}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.descripcion}}</td>
                    <td>{{item.peso}}</td>
                    <td>{{item.unidad}}</td>
                    <td>{{item.categoria}}</td>
                    <td>{{item.precio_compra}}</td>
                    <td>{{item.precio_venta}}</td>
                    <td [ngClass]="getColorfecha(item.fecha_expiracion)">{{item.fecha_expiracion}}</td>
                    <td>{{item.porcaducar}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div *ngIf="data.texto=='REPORTE DE PRODUCTOS CON FECHA DE VENCIMIENTO DE ESTA SEMANA'">

    <div class="titulo">
        <h4 style="text-align: center;">{{data.texto}}</h4>
    </div>

    <div class="botoncrear">
        <button (click)="generarPDFgeneral()">
            <mat-icon>add</mat-icon> Generar Reporte
        </button>
    </div>

    <div class="table-container">
        <table class="table centered table-borderless">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Unidad</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Precio de compra</th>
                    <th scope="col">Precio de venta</th>
                    <th scope="col">Fecha de Expiración</th>
                    <th scope="col">Stock por caducar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of productos_entre_fechas; let i = index">
                    <td>{{item.codigo}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.descripcion}}</td>
                    <td>{{item.peso}}</td>
                    <td>{{item.unidad}}</td>
                    <td>{{item.categoria}}</td>
                    <td>{{item.precio_compra}}</td>
                    <td>{{item.precio_venta}}</td>
                    <td [ngClass]="getColorfecha(item.fecha_expiracion)">{{item.fecha_expiracion}}</td>
                    <td>{{item.porcaducar}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div *ngIf="data.texto=='REPORTE DE COMPRAS Y VENTAS DEL PRODUCTO'">
    <div class="titulo">
        <h4 style="text-align: center;">{{data.texto}}</h4>
        <h4 style="text-align: center;">DEL PRODUCTO {{data.producto}} codigo:{{data.codigo}}</h4>
    </div>

    <div class="botoncrear">
        <button (click)="generarpdfventasycompras()">
            <mat-icon>add</mat-icon> Generar Reporte
        </button>
    </div>

    <h4 style="text-align: center;">Movimientos en ventas</h4>

    <div class="table-container">
        <table class="table centered table-borderless">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of productosventas; let i = index">
                    <td>{{item.codigo}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.usuario}}</td>
                    <td>{{item.cliente}}</td>
                    <td>{{item.fecha}}</td>
                    <td>{{item.cantidad}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h4 style="text-align: center;">Movimientos en compras</h4>

    <div class="table-container">
        <table class="table centered table-borderless">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of productoscompras; let i = index">
                    <td>{{item.codigo}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.usuario}}</td>
                    <td>{{item.proveedor}}</td>
                    <td>{{item.fecha}}</td>
                    <td>{{item.cantidad}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div class='a' *ngIf="data.texto=='REPORTE GENERAL DE INVENTARIO'">

    <div class="titulo">
        <h4 style="text-align: center;">{{data.texto}}</h4>
    </div>

    <div class="botoncrear">
        <button (click)="generarPDFgeneral()">
            <mat-icon>add</mat-icon> Generar Reporte
        </button>
    </div>

    <h4 style="text-align: center;">Productos que vencen en el siguiente año y medio</h4>
    <div class="table-container">
        <table class="table centered table-borderless">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Unidad</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Precio de compra</th>
                    <th scope="col">Precio de venta</th>
                    <th scope="col">Fecha de Expiración</th>
                    <th scope="col">Stock por caducar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of productos_entre_fechas; let i = index">
                    <td>{{item.codigo}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.descripcion}}</td>
                    <td>{{item.peso}}</td>
                    <td>{{item.unidad}}</td>
                    <td>{{item.categoria}}</td>
                    <td>{{item.precio_compra}}</td>
                    <td>{{item.precio_venta}}</td>
                    <td [ngClass]="getColorfecha(item.fecha_expiracion)">{{item.fecha_expiracion}}</td>
                    <td>{{item.porcaducar}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <br>

    <h4 style="text-align: center;">Estado de Stock de productos en inventario</h4>
    <div class="table-container">
        <table class="table centered table-borderless">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Unidad</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Precio de compra</th>
                    <th scope="col">Precio de venta</th>
                    <th scope="col">Stock</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of todos_los_productos; let i = index">
                    <td>{{item.codigo}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.descripcion}}</td>
                    <td>{{item.peso}}</td>
                    <td>{{item.unidad}}</td>
                    <td>{{item.categoria}}</td>
                    <td>{{item.precio_compra}}</td>
                    <td>{{item.precio_venta}}</td>
                    <td [ngClass]="getColorstock(item.stock)">{{item.stock}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>