

.navbar {
    background-color: #47466d;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle un efecto de elevación */
    padding: 10px 20px; /* Espaciado interno */
    margin: 10px; /* Espaciado externo */
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

.navbar .navbar-toggler {
    margin-right: auto; /* Alinea el botón de toggler a la izquierda */
}

.navbar .navbar-collapse {
    display: flex;
    justify-content: center; /* Asegura que los elementos internos estén centrados */
}

.navbar .nav-link {
    color: white;
    padding: 10px 15px;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.navbar .nav-link:hover {
    background-color: #3d84a7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    text-decoration: none;
}

.navbar-brand {
    margin-right: auto; /* Alinea la marca a la izquierda */
    text-align: center; /* Centra el texto de la marca */
    flex: 1; /* Permite que ocupe el espacio necesario para centrar */
}

.nav-item a{
    margin: 0; /* Elimina el margen por defecto del h2 */
    font-size: 0.7rem; /* Tamaño de la fuente */
}