
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: aqua;">

    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand" href="home">FARMACIA "SUPERFARMA"</a> <!-- poner aca el logo y si se puede la imagen de superfarma en letritas chidas -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/compra"><mat-icon>store</mat-icon> COMPRAS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/producto"><mat-icon>location_city</mat-icon> PRODUCTOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categoria"><mat-icon>ballot</mat-icon> CATEGORIAS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/proveedor"><mat-icon> local_shipping</mat-icon> PROVEEDORES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reporte"><mat-icon>import_contacts</mat-icon> REPORTES</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/venta" role="button" data-bs-toggle="dropdown" aria-expanded="false"><mat-icon>call</mat-icon> Contactanos</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/venta"><mat-icon>subject</mat-icon> Facebook</a></li>
                        <li><a class="dropdown-item" href="/venta"><mat-icon>subject</mat-icon> Instagram</a></li>
                        <li><a class="dropdown-item" href="/crear-venta"><mat-icon>subject</mat-icon> TikTok</a></li>
                        <li><a class="dropdown-item"><mat-icon>call</mat-icon> 76133846 - 76133846 </a></li>
                        <li><a class="dropdown-item"><mat-icon>phonelink_setup</mat-icon> Soporte - 76133846 </a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/venta" role="button" data-bs-toggle="dropdown" aria-expanded="false"><mat-icon>account_circle</mat-icon></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/"><mat-icon>settings</mat-icon> Editar Usuario</a></li>
                        <li><a class="dropdown-item" href="/logout"><mat-icon>cancel</mat-icon> Cerrar Sesion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</nav>