<app-admin *ngIf="type=='1'"></app-admin>
<app-ventas *ngIf="type=='2'"></app-ventas>
<app-inventario *ngIf="type=='3'"></app-inventario>
<div class="fondito">
<div class="container">
<div class="titulo">
<h4 style="text-align: center;">COMPRAS</h4>
</div>
<div class="botoncrear">
<button (click)="nueva_factura()" class="btn btn-primary"><mat-icon>add</mat-icon> Crear una Compra </button>
</div>
<div >

    <ng-container>
        <mat-form-field class="a" style="width: 100%;">
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
        </mat-form-field>
      
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef > ID </th>
              <td mat-cell *matCellDef="let row"> {{row.idadquiere}} </td>
            </ng-container>
            <ng-container matColumnDef="personal">
              <th mat-header-cell *matHeaderCellDef >Personal</th>
              <td mat-cell *matCellDef="let row"> {{row.nombreuser}}</td>
            </ng-container>
            <ng-container matColumnDef="proveedor">
              <th mat-header-cell *matHeaderCellDef > Proveedor </th>
              <td mat-cell *matCellDef="let row"> {{row.nombreproveedor}} </td>
            </ng-container>
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef > Fecha </th>
              <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
            </ng-container>
            <ng-container matColumnDef="montototal">
              <th mat-header-cell *matHeaderCellDef > Monto total </th>
              <td mat-cell *matCellDef="let row"> {{row.montototal}} </td>
            </ng-container>
            <ng-container matColumnDef="opcion">
              <th mat-header-cell *matHeaderCellDef > Opcion </th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>settings</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item class="text-success" (click)="detallarcompra(row)">
                    <mat-icon>visibility</mat-icon>
                    <span>Detallar</span>
                  </button>
                  <button mat-menu-item class="text-danger" (click)="eliminar(row)">
                    <mat-icon>remove</mat-icon>
                    <span>Eliminar</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
      
      </ng-container>

<!-- <table class="table centered table-borderless">
    <thead class="table-primary">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nro Compra</th>
            <th scope="col">personal</th>
            <th scope="col">provedoor</th>
            <th scope="col">fecha</th>
            <th scope="col">monto_total</th>
            <th scope="col">Detallar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of compra;let i=index">
            <td>{{i+1}}</td>
            <td>{{item.idadquiere}}</td>
            <td>{{item.nombreuser}}</td>
            <td>{{item.nombreproveedor}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item.montototal}}</td>
            <td>
                <button class="btn btn-primary btn-sm" (click)="detallarcompra(item)"><mat-icon>visibility</mat-icon></button>
            </td>
        </tr>
    </tbody>
</table> -->

</div>
</div>
</div>
