<app-admin *ngIf="type=='1'"></app-admin>
<app-ventas *ngIf="type=='2'"></app-ventas>
<app-inventario *ngIf="type=='3'"></app-inventario>
<div class="container">
<div class="mi-card">
<hr>
<h4 style="text-align: center;">Compras</h4>
<hr>
</div>
<button (click)="nueva_factura()" class="btn btn-primary"><mat-icon>add</mat-icon> Crear una Compra </button>
<hr>
<table class="table">
    <thead class="table-primary">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nro Compra</th>
            <th scope="col">personal</th>
            <th scope="col">provedoor</th>
            <th scope="col">fecha</th>
            <th scope="col">monto_total</th>
            <th scope="col">Detallar</th>
        </tr>
    </thead>
    <tbody>
        <tr [ngClass]="{'table-ligth':i%2==0,'table-info':i%2==1}"  *ngFor="let item of compra;let i=index">
            <td>{{i+1}}</td>
            <td>{{item.idadquiere}}</td>
            <td>{{item.nombreuser}}</td>
            <td>{{item.nombreproveedor}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item.montototal}}</td>
            <td>
                <button class="btn btn-primary btn-sm" (click)="detallarcompra(item)"><mat-icon>visibility</mat-icon></button>
            </td>
        </tr>
    </tbody>
</table>
</div>
