@media screen and (min-width:992px) {

    .navbar .container-fluid {
        flex-direction: column;
    }

    .navbar {
        /* width: 20%; */
        /* height: 100vh; */
    }

    .navbar-brand {
        margin-left: .5rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
}

