<hr>
<h4 style="text-align: center;">Categoria</h4>
<hr>
<button (click)="openDialog()" class="btn btn-primary"><mat-icon>add</mat-icon> Crear Categoria</button>
<hr>
<table class="table">
    <thead class="table-primary">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Imagen</th>
            <th scope="col">Opcion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of categoria;let i=index">
            <td>{{i+1}}</td>
            <td>{{item.nombre}}</td>
            <td>
                <img appImagenRota src="{{llenar_imagen(item.imagen)}}" height="50px" width="50[x]">
            </td>
            <td>
                <button class="btn btn-success btn-sm" (click)="actualizar(item)"><mat-icon> border_color</mat-icon></button>
                <button class="btn btn-danger btn-sm" (click)="eliminar(item)"><mat-icon>delete_forever</mat-icon></button>
            </td>
        </tr>
    </tbody>
</table>